@page
@model AppointmentsDetails.Pages.Appointments.DeleteModel
@{
}

<br>
<h2>Delete Todo</h2>

@if (@Model.errorMessage.Length > 0)
{
    <div>@Model.errorMessage</div>
}
<form method="POST">

    <input type="hidden" name="id" value="@Model.todo.appointment_id" />
    <table>
        <tr>
            <td>doctor_id</td>
            <td>@Model.todo.doctor_id</td>
        </tr>
        <tr>
            <td>patient_id</td>
            <td>@Model.todo.patient_id</td>
        </tr>
        <tr>
            <td>appointment_id</td>
            <td>@Model.todo.appointment_time</td>
        </tr>s
        <tr>
            <td>patient_name</td>
            <td>@Model.todo.patient_name</td>
        </tr>
        <tr>
            <td>doctor_name</td>
            <td>@Model.todo.doctor_name</td>
        </tr>
        <tr>
            <td>doctor_department</td>
            <td>@Model.todo.doctor_department</td>
        </tr>
        <tr>
            <td>patient_disease</td>
            <td>@Model.todo.patient_disease</td>
        </tr>
        <tr>
            <td>patient_age</td>
            <td>@Model.todo.patient_age</td>
        </tr>
    </table>
    <p></p>

    @if (@Model.successMessage.Length > 0)
    {
        <div>@Model.successMessage</div>
    }
    <input type="submit" value="Delete" class="btn btn-primary" />
</form>

