@page
@model Appointments_UI.Pages.Appointments.DeleteModel
@{
}

<br>
<h2>Delete Todo</h2>

@if (@Model.errorMessage.Length > 0) {
    <div>@Model.errorMessage</div>
 }
<form method="POST">

    <input type="hidden" name="id" value="@Model.todo.appointment_id" />
    <table>
        <tr>
            <td>Doctor ID</td>
            <td>@Model.todo.doctor_id</td>
        </tr>
        <tr>
            <td>Patient ID</td>
            <td>@Model.todo.patient_id</td>
        </tr>
        <tr>
            <td>Appointment Time</td>
            <td>@Model.todo.appointment_time</td>
        </tr>s
        <tr>
            <td>Patient Name</td>
            <td>@Model.todo.patient_name</td>
        </tr>
        <tr>
            <td>Doctor Name</td>
            <td>@Model.todo.doctor_name</td>
        </tr>
        <tr>
            <td>Doctor Department</td>
            <td>@Model.todo.doctor_department</td>
        </tr>
        <tr>
            <td>Patient Disease</td>
            <td>@Model.todo.patient_disease</td>
        </tr>
        <tr>
            <td>Patient Age</td>
            <td>@Model.todo.patient_age</td>
        </tr>
    </table>

    <p></p>

    <input type="submit" value="Delete" class="btn btn-primary" />
</form>


