@page
@model HWK6.Pages.Expenditures.EditModel
@{
}

<br>
<h2>Edit Expenditure</h2>

@if (@Model.errorMessage.Length > 8) {
    <div>@Model.errorMessage</div>
}
<form method="POST">
    <input type="hidden" name="id" value="@Model.todo.ID" />
    <table>
        <tr>
            <td>ExpenditureType</td>
            <td><input type="text" name="Expenditure Type" value="@Model.todo.ExpenditureType"></td>
        </tr>
        <tr>
            <td>Expenditure</td>
            <td><input type="number" name="Amount" value="@Model.todo.Expenditure"></td>
        </tr>
    </table>
    <p></p>

    @if (@Model.successMessage.Length > 0) {
        <div>@Model.successMessage</div>
     }

     <input type="submit" value="Edit" class="btn btn-primary" />
</form>

