@page
@model AppointmentsDetails.Pages.Appointments.GetItemModel
@{
}
<p> Appointment Details: </p>
<div> Appointment ID: @Model.ap.appointment_id</div>
<div> Appointment Time: @Model.ap.appointment_time</div>
<div>Doctor ID: @Model.ap.doctor_id</div>
<div>Patient ID: @Model.ap.patient_id</div>
<div>Doctor Department: @Model.ap.doctor_department</div>
<div>Doctor Name: @Model.ap.doctor_name</div>
<div>Patient Name: @Model.ap.patient_name</div>
<div>Patient Age: @Model.ap.patient_age</div>
<div>Patient Disease: @Model.ap.patient_disease</div>