@page
@model Appointments_UI.Pages.Appointments.GetItemModel
@{
}
<br>
<h2>Get Item</h2>
<form method="GET">
    <table>
        <tr>
            <td>Appointment ID</td>
            <td><input type="text" name="Get" value="@Model.ap.appointment_id"></td>
        </tr>
    </table>
    <p></p>

    <input type="submit" value="Get Item" class="btn btn-primary" />
</form>

<p>Item Details:</p>
<div>@Model.ap.appointment_id</div>
<div>@Model.ap.doctor_id</div>
<div>@Model.ap.patient_id.</div>
<div>@Model.ap.patient_name</div>
<div>@Model.ap.doctor_name</div>
<div>@Model.ap.appointment_time</div>
<div>@Model.ap.doctor_department</div>
<div>@Model.ap.patient_disease</div>
<div>@Model.ap.patient_age</div>
