@page
@model AppointmentsDetails.Pages.Appointments.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br>
<h2>List of Todos</h2>

<a class='btn btn-primary btn-sm' href='/Appointments/Create'>Create Appointment</a>
<table class="table">
    <thead>
        <tr>
            <th>Appointment ID</th>
            <th>Doctor ID</th>
            <th>Patient ID</th>
            <th>Doctor Name</th>
            <th>Patient Name</th>
            <th>Apppointment Time</th>
            <th>Doctor Department</th>
            <th>Patient Disease</th>
            <th>Patient Age</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.appointments)
        {
            <tr>
                <td>@item.appointment_id</td>
                <td>@item.doctor_id</td>
                <td>@item.patient_id</td>
                <td>@item.doctor_name</td>
                <td>@item.patient_name</td>
                <td>@item.appointment_time</td>
                <td>@item.doctor_department</td>
                <td>@item.patient_disease</td>
                <td>@item.patient_age</td>

                <td>
                    <a class="btn btn-primary btn-sm" href="/Appointments/Edit?id=@item.appointment_id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Appointments/Delete?id=@item.appointment_id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
